<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Ajustes de Precios</title>
</head>
<section layout:fragment="contenido" >
<div class="container-fluid pt-4 px-4 contenedor-reporte">
         <div class="bg-light rounded h-100 p-4 ">
        	 
             <h3 class="mb-4 js-titulo-reporte">Listado de Ajuste de Precios</h3>
            <form  th:object="${ajustePrecioFilter}" class="js-filtros">
             	<div class="row">
             		<div class="mb-3 col-md-4">
                   		<label for="registro" class="col-form-label">Registro</label>
                   		<div class="col-md-12"> 
                   			<input type="text" id="registro" class="form-control"  
                   					autofocus="autofocus" placeholder="Registro de venta" autocomplete="off"
                   					th:field="*{id}">
                    	</div>
               		</div>
             	
	             	<div class="mb-3 col-md-3">
	                		<label for="fechaDesde" class="col-form-label">Fecha Desde</label>
	                		<div class="col-md-12"> 
								<input type="text" class="form-control date" id="fechaDesde" th:field="*{{fechaDesde}}"
								placeholder="DD/MM/AAAA" autocomplete="off">
	                		</div>	
	            	</div>
	            	<div class="mb-3 col-md-3">
		            		<label for="fechaHasta" class="col-form-label">Fecha Hasta</label>
		            		<div class="col-md-12"> 
								<input type="text" class="form-control date" id="fechaHasta" th:field="*{{fechaHasta}}"
								placeholder="DD/MM/AAAA" autocomplete="off">
							</div>
	            	</div>
            	
            	<div class=" mb-3 col-sm-12 col-md-3 col-xl-3">
                                <label for="nombrePrecio" class="col-sm-12 col-form-label">Precio</label>
								<select id="nombrePrecio"  class="form-control js-select-precio" th:field="*{precio}">
									<option value="">seleccionar</option>
									<option th:each="precio : ${precios}" th:text="${precio.nombre}" 
										th:value="${precio.id}" ></option>
								</select>
                            </div>
            	
	            	<div class="mb-3 col-md-3">
	            		<button type="submit" class="btn btn-primary">
	            			<i class="fa-solid fa-magnifying-glass"></i>
	            			Buscar
	            		</button>
	            	</div>
	            	
	            	<div class="mb-3 col-md-3">
	            		<button type="button" class="btn btn-success js-excel-exportar">
	            			<i class="fa-solid fa-file-excel"></i>
	            			Excel
	            		</button>
	            	</div>
	            	<div class="mb-3 col-md-3">
	            		<button type="button" class="btn btn-primary js-imprimir">
	            			<i class="fa-solid fa-print"></i>
	            			Imprimir
	            		</button>
	            	</div>
            	 </div>
         	</form>
             
             <div class="table-responsive js-tabla">
                 <table class="table">
                     <thead>
                         <tr>
                         <th scope="col">Id</th>
                         <th scope="col">Lista</th>
                         <th scope="col">Moneda</th>
                         <th scope="col">Codigo</th>
                         <th scope="col">Producto</th>
                         <th scope="col">Fecha</th>
                         <th scope="col" class="lado-derecho">Precio</th>
                         </tr>
                     </thead>
                     <tbody>
	                     <tr th:each="item:${items}" class="tabla-ajuste-venta ">
	                          <td th:text="${item.ajustePrecio.id}"></td>
	                          <td th:text="${item.ajustePrecio.precio.nombre}"></td>
	                          <td th:text="${item.ajustePrecio.precio.moneda}?${item.ajustePrecio.precio.moneda.nombre}:''"></td>
	                          <td th:text="${item.producto.codigo}"></td>
	                          <td th:text="${item.producto.nombre}"></td>
	                          <td th:text="${#temporals.format(item.ajustePrecio.fecha,'dd/MM/yyyy')}"></td>
	                          <td th:text="${item.PrecioProducto}" class="precio-producto lado-derecho"></td>
	                     </tr>
	                     
	                     <tr th:if="${#lists.isEmpty(items)}">
							<td colspan="6">No se encontraron ajustes ...</td>
						 </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>



</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/reporte/venta/jspdf.debug.js}"></script>
	<script th:src="@{/js/meta/reporte/venta/html2canvas.min.js}"></script>
	<script th:src="@{/js/jquery.table2excel.js}"></script>
	<script th:src="@{/js/meta/reporte/venta/total.venta.js}"></script>
	<script th:src="@{/js/meta/reporte/precio/ajuste.precio.js}"></script>
</th:block>
</html>
