<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{padron}">
<head>
<title>Usuarios</title>
	
</head>
<section layout:fragment="contenido" >
	
	<div class="container-fluid pt-4 px-4 ">
                <div class="row g-4 ">
                    
                    <div class="col-sm-12 col-xl-10">
                        <div class="bg-light rounded h-100 p-4">
                        	
                        	<br>
                           
                            <h3 class="mb-4 col-md-6" th:if="${usuario.id}">Modificar contraseña - [[${usuario.nombre}]]</h3>
                            <form th:action="@{/usuarios/buscar/{nombre}(nombre = ${#authentication.name})}" th:method="POST" th:object="${usuario}">
                            	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}" >
						    		<div th:each="erro: ${#fields.detailedErrors()}">
						    			<span th:text="${erro.message}">Mensaje de error</span>
						    		</div>
						    	</div>
						    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensaje)}">
						    		<span th:text="${mensaje}">Mensaje de exito</span>
						    	</div>
						    	<div class="row">
						    	<div class="col-sm-8">
                            		<input type="hidden" th:field="*{id}">
	                                <div class=" mb-3">
	                                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
	                                    <div class="col-sm-10">
	                                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" 
	                                        autocomplete="off" disabled="true">
	                                    </div>
	                                </div>
	                                <div class="row">
		                               
		                                 <div class="mb-3 col-md-4">
		                                    <label for="password" class="col-form-label">Contraseña</label>
		                                    <div class="col-md-10">
		                                        <input type="password" class="form-control" id="password" 
		                                        th:field="*{password}" autocomplete="off" autofocus="autofocus">
		                                    </div>
		                                </div>
		                                <div class="row mb-3 noMostrar">
		                                    <legend class="col-form-label col-sm-2 pt-0">Estado</legend>
		                                    <div class="col-sm-10">
		                                        <div class="form-check">
		                                            <input class="form-check-input" type="checkbox" id="gridCheck1" th:field="*{activo}">
		                                            <label class="form-check-label" for="gridCheck1">
		                                                Activo
		                                            </label>
		                                        </div>
		                                    </div>
	                                	</div>
	                                	
                                	</div>
	                                <button type="submit" class="btn btn-primary">Guardar</button>
                              
                                </div>
                                
                                 
                                </div>
                                <div class="row noMostrar">
	                                <div class="col-sm-12 col-md-4 col-xl-12">
				                        <div class="h-100 bg-light rounded p-4 ">
				                            <div class="d-flex align-items-center justify-content-between mb-4">
				                                <h6 class="mb-0">Lista de grupos</h6>
				                            </div>
				                           <div class="row">
					                            <div class="d-flex align-items-center border-bottom py-2 col-md-4" th:each="grupo:${grupos}">
					                                <input class="form-check-input m-0" type="checkbox" th:value="${grupo.id}" th:field="*{grupos}">
					                                <div class="w-100 ms-3">
					                                    <div class="d-flex w-100 align-items-center justify-content-between ">
					                                        <span th:text="${grupo.nombre}"></span>
					                                    </div>
					                                </div>
					                            </div>
				                            </div>
				                        </div>
			                    	</div>
                                </div>
                               
                                
                            </form>
                        </div>
                    </div>                                                         
                </div>
            </div>
	

</section>

<th:block  layout:fragment="javascript-extra">

</th:block>
</html>
