<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
	<title>Recalcular Stock</title>
	 <link th:href="@{/css/easy-autocomplete.min.css}" rel="stylesheet">
	 <link th:href="@{/css/easy-autocomplete.themes.min.css}" rel="stylesheet">
</head>
<section layout:fragment="contenido" >
	<div class="container-fluid pt-4 px-4">
		 <div class="row g-4">
		 	<div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    
                    	<div class="row">
	                		<div class="col-md-12">
                				<h3>Recalcular Stock</h3>
	                		</div>
                		 </div>
				    	<div class="mensaje-emergente"></div>
			    		<div class="alert alert-warning alert-dismissible fade noMostrar msj-aviso" role="alert">
                    		<i class="fa fa-exclamation-circle me-2"></i><span class="msj-avido-tex"></span>
                    		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                		</div>
                    	
                    	<div class ="row">
                        	<div class=" mb-3 col-md-4">
                   				<label for="producto" class="col-sm-12 col-form-label">Producto</label>
                   				<input type="hidden" id="idProducto" > 
                   				<input type="text" id="producto" class="form-control "  
                   					autofocus="autofocus" placeholder="Buscar por nombre o código">
                   			</div>
                        	<div class=" mb-3 col-sm-12 col-md-3 col-xl-3">
                                <label for="deposito" class="col-sm-12 col-form-label">Depósito</label>
								<select id="deposito" class="form-control" >
									<option value="">Seleccionar</option>
									<option th:each="deposito : ${depositos}" th:text="${deposito.nombre}" 
										th:value="${deposito.id}" ></option>
								</select>
                            </div>
                        	<div class="row">
                        		<div class="col-md-12">
                        			<button type="button" class="btn btn-primary btn-procesar">Procesar</button>
                        		</div>
                        	</div>
                  
                        </div>
                    
                </div>
            </div>
	 </div>
</div>
<th:block th:replace="hbs/templateAutoCompleteProducto"></th:block>
</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/upload/handlebars.min.js}"></script>
	<script th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/js/meta/extractoProducto/extracto.producto.js}"></script>
	<script th:src="@{/js/meta/stock/recalculo.saldo.stock.js}" type="module"></script>
</th:block>
</html>