<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	xmlns:data="http://www.thymeleaf.org/extras/data">

     <tr th:each="item, iterStat : ${itemsImporte}"  class="js-tabla-item-importe" data:total="${totalImporte}">
		<td th:text="${item.condicion.nombre}"></td>
		<td th:text="${item.moneda.nombre}"></td>
		<td th:text="${item.cuenta.nombre}"></td>
		<td th:text="${item.importe}" class="item-pago-importe-ret"></td>
		<td>
				<button type="button" class="btn-item-quitar-importe" data:indice = "${iterStat.count - 1}">
					<i class="fa fa-times" aria-hidden="true" ></i>	
				</button>
		</td>
     </tr>
	<tr th:if="${#lists.isEmpty(itemsImporte)}">
			<td colspan="4">No hay detalles de importe</td>
	 </tr>
</html>
