<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Movimiento de vendedores</title>
</head>
<section layout:fragment="contenido" >
<div class="noMostrar js-cargando">
		 <div id="spinner" class="show bg-white position-fixed translate-middle w-100 
		 	vh-100 top-50 start-50 d-flex align-items-center justify-content-center"> 
	         <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"> 
	             <span class="sr-only">Cargando...</span> 
	         </div> 
	     </div>
	</div> 
<div class="container-fluid pt-4 px-4 contenedor-reporte">
         <div class="bg-light rounded h-100 p-4 ">
        	 
             <h3 class="mb-4 js-titulo-reporte">Movimiento de Vendedores</h3>
            <form   class="js-filtros">
             	<div class="row">
             		<div class=" mb-3 col-md-4">
                                <label for="vendedor" class="col-form-label">Vendedor</label>
								<select id="vendedor" class="form-control js-vendedor" >
										<option value="">Seleccionar</option>
										<option th:each="vendedor : ${vendedores}" th:text="${vendedor.nombre}" 
													th:value="${vendedor.id}" ></option>
								</select>
                     </div>
             	
	             	<div class="mb-3 col-md-3">
	                		<label for="fechaDesde" class="col-form-label">Fecha desde</label>
	                		<div class="col-md-12"> 
								<input type="text" class="form-control date" id="fechaDesde" 
								placeholder="DD/MM/AAAA" autocomplete="off">
	                		</div>	
	            	</div>
	            	<div class="mb-3 col-md-3">
		            		<label for="fechaHasta" class="col-form-label">Fecha hasta</label>
		            		<div class="col-md-12"> 
								<input type="text" class="form-control date" id="fechaHasta" 
								placeholder="DD/MM/AAAA" autocomplete="off">
							</div>
	            	</div>
            	
            	
            	
	            	<div class="mb-3 col-md-3">
	            		<button type="button" class="btn btn-primary js-buscar">
	            			<i class="fa-solid fa-magnifying-glass"></i>
	            			Buscar
	            		</button>
	            	</div>
	            	
	            	<div class="mb-3 col-md-3">
	            		<button type="button" class="btn btn-success js-excel-exportar">
	            			<i class="fa-solid fa-file-excel"></i>
	            			Excel
	            		</button>
	            	</div>
	            	<div class="mb-3 col-md-3">
	            		<button type="button" class="btn btn-primary js-imprimir">
	            			<i class="fa-solid fa-print"></i>
	            			Imprimir
	            		</button>
	            	</div>
            	 </div>
         	</form>
             
             <div class="table-responsive js-tabla">
                 <table class="table">
                     <thead>
                         <tr>
                         <th scope="col">Fecha</th>
                         <th scope="col">Vendedor</th>
                         <th scope="col">Observación</th>
                         <th scope="col" class="lado-derecho">Crédito</th>
                         <th scope="col" class="lado-derecho">Débito</th>
                         </tr>
                     </thead>
                     <tbody class="js-tabla-cuerpo">
	                   
                     </tbody>
                 </table>
             </div>
         </div>
     </div>



</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/reporte/venta/jspdf.debug.js}"></script>
	<script th:src="@{/js/meta/reporte/venta/html2canvas.min.js}"></script>
	<script th:src="@{/js/jquery.table2excel.js}"></script>
	<script th:src="@{/js/meta/reporte/exportacion.impresion.js}"></script>
	<script th:src="@{/js/meta/movimientoVendedor/movimiento.vendedor.js}" type="module"></script>
</th:block>
</html>
