<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>buscar</title>
</head>
<section layout:fragment="contenido" >
<div class="container-fluid pt-4 px-4">
         <div class="bg-light rounded h-100 p-4">
        	 <div class="row" >  		 
                   <a th:href="@{/compras}" class="col-md-3 mb-6">
	                    <button type="button" class="btn btn-nuevo btn-success">nuevo</button>
                    </a>
              </div>
              <br>
             <h3 class="mb-4 m-2">Listado de compras</h3>
            <form  th:object="${compraFilter}">
             	<div class="row">
             		<div class=" row m-2 mb-3 col-md-4 ">
                   		<label for="registro" class="form-label">Registro</label> 
                   		<input type="text" id="registro" class="form-control m-2"  
                   					autofocus="autofocus" placeholder="Registro de compra"
                   					th:field="*{id}">
                    </div>
             	
	             	<div class="mb-3 row m-2 col-md-3">
	                		<label for="fechaDesde" class="form-label">Fecha desde</label> 
							<input type="text" class="form-control date m-2" id="fechaDesde" th:field="*{{fechaIni}}"
							placeholder="DD/MM/AAAA" autocomplete="off">
									
	            	</div>
	            	<div class="mb-3 row m-2 col-md-3">
		            		<label for="fechaHasta" class="form-label">fecha hasta</label> 
							<input type="text" class="form-control date m-2" id="fechaHasta" th:field="*{{fechaFin}}"
							placeholder="DD/MM/AAAA" autocomplete="off">
	            	</div>
            		<div class=" row mb-3 row m-2 col-md-4">
                   		<label for="limite" class="form-label">Límite</label> 
                   		<input type="text" id="limite" class="form-control m-2"  
                   					autofocus="autofocus" placeholder="Límite"
                   					th:field="*{limite}">
                    </div>
            	
            	
	            	<div class="mb-3 col-md-12">
	            		<button type="submit" class="btn btn-primary">Buscar</button>
	            	</div>
            	 </div>
         	</form>
             
             <div class="table-responsive">
                 <table class="table">
                     <thead>
                         <tr>
                         <th scope="col">id</th>
                         <th scope="col">Proveedor</th>
                         <th scope="col">Deposito</th>
                         <th scope="col">Fatura</th>
                         <th scope="col">fecha</th>
                         <th scope="col">Total</th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         </tr>
                     </thead>
                     <tbody>
                         
                     <tr th:each="compra:${compras}" class="linea tabla-compra-tbody-tr"  >
                         <td scope="row" th:text="${compra.id}" ></td>
                         <td ><a th:href="@{/compras/{id}(id=${compra.id})}" th:text="${compra.proveedor.nombre}" ></a> </td>
                         
                         <td th:text="${compra.deposito.nombre}"></td>
                         <td th:text="${compra.factura}"></td>
                         <td th:text="${#temporals.format(compra.fecha,'dd/MM/yyyy')}"></td>
                         <td th:text="${compra.total}" class="js-total-compra"></td>
                         <td>
     						<button type="button" class="btn-det btn-detalle-compra" data:id="${compra.id}" data-bs-toggle="modal" data-bs-target="#itemCompraModal">
							  <i class="far fa-file-alt tooltip-test"  title="Ver detalles"></i>
							</button>
							
     					</td>
     					<td>
     						<a th:href="@{/compras/{id}(id=${compra.id})}"
								 class="btn-editar">
								<i class="fa fa-pencil"></i>
							</a>
     					</td>
                         <td sec:authorize="hasRole('ROLE_COMPRAS_COMPRAS_ELIMINAR')">
                         	<a data:url="@{/compras/{id}(id=${compra.id})}" class="btn-eliminar"
                         		data:objeto="${compra.proveedor.nombre}" >
	                         	<i class="fa fa-trash"></i>
                        	</a>
                         </td>
                     </tr>
                      
                     <tr th:if="${#lists.isEmpty(compras)}">
						<td colspan="6">Ne se encontraron compras</td>
					</tr>
                 		
                     </tbody>
                 </table>
             </div>
         </div>
     </div>


<th:block th:replace="compra/modal.item.compra"></th:block>
</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/js/meta/compra/compra.js}"  type="module"></script>
	<script th:src="@{/js/meta/compra/compra.buscar.js}" ></script>
	<script th:src="@{/js/meta/compra/compra.buscar.item.js}" ></script>
</th:block>
</html>
