<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=" http://www.thymeleaf.org/extras/spring-security5" layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Buscar Pago</title>
</head>
<section layout:fragment="contenido">
	<div class="container-fluid pt-4 px-4">
		<div class="bg-light rounded h-100 p-4">
			<div class="row" sec:authorize="hasRole('ROLE_FINANCIERO_PAGO_VENDEDORES_GUARDAR')">
				<a th:href="@{/pagoVendedores}" class="col-md-3 mb-6">
					<button type="button" class="btn btn-success">Nuevo</button>
				</a>
			</div>
			<br>
			<h6 class="mb-4">Listado de pagos a vendedores</h6>
			<h6 class="mb-4">Total: <span>[[${#numbers.formatInteger(total,3,'POINT')}]]</span></h6>

			<form th:object="${pagoVendedorFilter}">
				<div class="row">

					<div class=" mb-3 col-md-4">
						<label for="vendedor">Vendedor</label>
						<select id="vendedor" class="form-control js-instructor" th:field="*{vendedor}">
							<option value="">seleccionar</option>
							<option th:each="vendedor : ${vendedores}" th:text="${vendedor.nombre}"
								th:value="${vendedor.id}"></option>
						</select>
					</div>
					<div class=" mb-3 col-md-4">
						<label for="cuenta">Cuenta</label>
						<select id="cuenta" class="form-control js-cuenta" th:field="*{cuenta}">
							<option value="">Seleccionar</option>
							<option th:each="cuenta : ${cuentas}" th:text="${cuenta.nombre}" th:value="${cuenta.id}">
							</option>
						</select>
					</div>

					<div class="mb-3 col-md-3">
						<label for="fechaDesde">Fecha Desde</label>
						<input type="text" class="form-control js-fecha" id="fechaDesde" th:field="*{{fechaDesde}}"
							autocomplete="off" placeholder="dd/mm/aaaa" data-provide="datepicker"
							data-date-format="dd/mm/yyyy" data-date-orientation="bottom" data-date-language="es"
							data-date-today-highlight="true" data-date-autoclose="true">
					</div>
					<div class="mb-3 col-md-3">
						<label for="fechaHasta">Fecha Hasta</label>
						<input type="text" class="form-control js-fecha" id="fechaHasta" th:field="*{{fechaHasta}}"
							autocomplete="off" placeholder="dd/mm/aaaa" data-provide="datepicker"
							data-date-format="dd/mm/yyyy" data-date-orientation="bottom" data-date-language="es"
							data-date-today-highlight="true" data-date-autoclose="true">
					</div>



					<div class="mb-3 col-md-12">
						<button type="submit" class="btn btn-primary">Buscar</button>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Registro</th>
							<th scope="col">Vendedor</th>
							<th scope="col">Cuenta</th>
							<th scope="col">Observación</th>
							<th scope="col">Fecha</th>
							<th scope="col">Importe</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="pagoVendedor:${pagoVendedores}">
							<th scope="row" th:text="${pagoVendedor.id}"></th>
							<td><a th:href="@{/pagoVendedores/{id}(id=${pagoVendedor.id})}"
									th:text="${pagoVendedor.vendedor.nombre}"></a> </td>
							<td th:text="${pagoVendedor.cuenta.nombre}"></td>
							<td th:text="${pagoVendedor.observacion}"></td>
							<td th:text="${#temporals.format(pagoVendedor.fecha,'dd/MM/yyyy')}"></td>
							<td th:text="${#numbers.formatInteger(pagoVendedor.importe,3,'POINT')}" class="js-entero">
							</td>
							<td sec:authorize="hasRole('ROLE_FINANCIERO_PAGO_VENDEDORES_ELIMINAR')">
								<a data:url="@{/pagoVendedores/{id}(id=${pagoVendedor.id})}" class="btn-eliminar"
									data:objeto="${pagoVendedor.vendedor.nombre}">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(pagoVendedores)}">
							<td colspan="6">No se encontraron Pagos</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>



</section>
<th:block layout:fragment="javascript-extra">

</th:block>

</html>