<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
	<title>Pago a Vendedores</title>
</head>
<section layout:fragment="contenido" >
	
	<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                        	<div class="row">
                            	<a th:href="@{/pagoVendedores/buscar}" class="col-md-3 mb-6">
                            		<button type="button" class="btn btn-buscar btn-success">Buscar
                            	</button></a>
                        	</div>
                        	<br>
                            <h6 class="mb-4 col-md-6" th:if="!${pagoVendedor.id}"
                            	sec:authorize="hasRole('ROLE_FINANCIERO_PAGO_VENDEDORES_GUARDAR')">Cargar Pago a Vendedor</h6>
                            <h6 class="mb-4 col-md-6" th:if="${pagoVendedor.id}"
                            	sec:authorize="hasRole('ROLE_FINANCIERO_PAGO_VENDEDORES_GUARDAR')">
                            			Modificar Pago al vendedor- [[${pagoVendedor.vendedor.nombre}]]</h6>
                            <form th:action="@{/pagoVendedores}" th:method="POST" th:object="${pagoVendedor}"
                            	sec:authorize="hasRole('ROLE_FINANCIERO_PAGO_VENDEDORES_GUARDAR')">
                            	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}" >
						    		<div th:each="erro: ${#fields.detailedErrors()}">
						    			<span th:text="${erro.message}">Mensaje de error</span>
						    		</div>
						    	</div>
						    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensaje)}">
						    		<span th:text="${mensaje}">Mensaje de exito</span>
						    	</div>
                            	<input type="hidden" th:field="*{id}" id="id">
                            	<div>
	                            	
                            		<div class ="row">
		                            	<div class="mb-3 col-md-4">
		                            		<label for="fecha">Fecha</label> 
											<input type="text" class="form-control js-fecha" id="fecha" th:field="*{{fecha}}"
													autocomplete="off" placeholder="dd/mm/aaaa" 
													data-provide="datepicker" data-date-format="dd/mm/yyyy"
													 data-date-orientation="bottom" data-date-language="es"
													  data-date-today-highlight="true" data-date-autoclose="true" >
		                            	</div>
                            			<div class=" mb-3 col-md-4">
		                                    <label for="vendedor">Vendedor</label>
											<select id="vendedor" class="form-control js-vendedor" th:field="*{vendedor}">
												<option value="">seleccionar</option>
												<option th:each="vendedor : ${vendedores}" th:text="${vendedor.nombre}" 
													th:value="${vendedor.id}" ></option>
											</select>
		                                </div>
		                                
		                             </div>
		                             <div class="row">
		                             	<div class=" mb-3 col-md-4">
		                                    <label for="cuenta">Cuenta</label>
											<select id="cuenta" class="form-control js-cuenta" th:field="*{cuenta}">
												<option value="">seleccionar</option>
												<option th:each="cuenta : ${cuentas}" th:text="${cuenta.nombre}"   
													th:value="${cuenta.id}" ></option>
											</select>
		                                </div>
		                               	<div class="mb-3 col-md-4">
		                               		<label for="importe">Importe</label>
		                               		<input type="text" class="js-decimal-plugin form-control js-importe formato-numero " 
		                               				th:field="*{importe}" autocomplete="off">
		                               	</div>
		                               	
		                              </div>
	                                <div class="mb-3">
	                               		<label for="observacion">Observación</label>
	                               		<textarea type="text" class="form-control js-observacion " th:field="*{observacion}"></textarea>
	                               	</div>
                               	</div>
                                <button type="submit" class="btn btn-primary js-btn-guardar">Guardar</button>
                                <a th:href="@{/pagoVendedores}"><button type="button" class="btn btn-primary">Nuevo</button></a>
                            </form>
                        </div>
                    </div>                                                         
                </div>
            </div>
	

</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/pagoVendedor/pagoVendedor.js?ver=0.0.1}"  type="module"></script>
</th:block>
</html>
