<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=" http://www.thymeleaf.org/extras/spring-security5" layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Buscar Transferencia Efectivo</title>
</head>
<section layout:fragment="contenido">
	<div class="container-fluid pt-4 px-4">
		<div class="bg-light rounded h-100 p-4">
			<div class="row" sec:authorize="hasRole('ROLE_FINANCIERO_TRANSFERENCIA_EFECTIVO_GUARDAR')">
				<a th:href="@{/transferenciaEfectivos}" class="col-md-3 mb-6">
					<button type="button" class="btn btn-success">Nuevo</button>
				</a>
			</div>
			<br>
			<h6 class="mb-4">Lista de Transferencia Efectivo</h6>
			<h6 class="mb-4">Total: <span>[[${#numbers.formatInteger(totalImporte,3,'POINT')}]]</span></h6>

			<form th:object="${transferenciaEfectivoFilter}">
				<div class="row">

					<div class=" mb-3 col-md-2">
						<label for="cuentaOrigen">Cuenta Origen</label>
						<select id="cuentaOrigen" class="form-control js-cuenta" th:field="*{cuentaOrigen}">
							<option value="">Seleccionar</option>
							<option th:each="cuenta : ${cuentas}" th:text="${cuenta.nombre}" th:value="${cuenta.id}">
							</option>
						</select>
					</div>
					<div class=" mb-3 col-md-2">
						<label for="cuentaDestino">Cuenta Destino</label>
						<select id="cuentaDestino" class="form-control js-cuenta" th:field="*{cuentaDestino}">
							<option value="">Seleccionar</option>
							<option th:each="cuenta : ${cuentas}" th:text="${cuenta.nombre}" th:value="${cuenta.id}">
							</option>
						</select>
					</div>

					<div class="mb-3 col-md-2">
						<label for="fechaDesde">Fecha Desde</label>
						<input type="text" class="form-control js-fecha" id="fechaDesde" th:field="*{{fechaDesde}}"
							autocomplete="off" placeholder="dd/mm/aaaa" data-provide="datepicker"
							data-date-format="dd/mm/yyyy" data-date-orientation="bottom" data-date-language="es"
							data-date-today-highlight="true" data-date-autoclose="true">
					</div>
					<div class="mb-3 col-md-2">
						<label for="fechaHasta">Fecha Hasta</label>
						<input type="text" class="form-control js-fecha" id="fechaHasta" th:field="*{{fechaHasta}}"
							autocomplete="off" placeholder="dd/mm/aaaa" data-provide="datepicker"
							data-date-format="dd/mm/yyyy" data-date-orientation="bottom" data-date-language="es"
							data-date-today-highlight="true" data-date-autoclose="true">
					</div>



					<div class="mb-3 col-md-12">
						<button type="submit" class="btn btn-primary">Buscar</button>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Cuenta Origen</th>
							<th scope="col">Cuenta Destino</th>
							<th scope="col">Observación</th>
							<th scope="col">Fecha</th>
							<th scope="col">Importe</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="transferenciaEfectivo:${transferenciaEfectivos}">
							<th scope="row" th:text="${transferenciaEfectivo.id}"></th>
							<td th:text="${transferenciaEfectivo.cuentaOrigen.nombre}"></td>
							<td th:text="${transferenciaEfectivo.cuentaDestino.nombre}"></td>
							<td th:text="${transferenciaEfectivo.observacion}"></td>
							<td th:text="${#temporals.format(transferenciaEfectivo.fecha,'dd/MM/yyyy')}"></td>
							<td th:text="${#numbers.formatInteger(transferenciaEfectivo.importe,3,'POINT')}" class="js-entero">
							</td>
							<td sec:authorize="hasRole('ROLE_FINANCIERO_TRANSFERENCIA_EFECTIVO_MODIFICAR')">
								<a th:href="@{/transferenciaEfectivos/{id}(id=${transferenciaEfectivo.id})}"
									 class="btn-editar">
									<i class="fa fa-pencil"></i>
								</a>
							</td>
							<td sec:authorize="hasRole('ROLE_FINANCIERO_TRANSFERENCIA_EFECTIVO_ELIMINAR')">
								<a data:url="@{/transferenciaEfectivos/{id}(id=${transferenciaEfectivo.id})}" class="btn-eliminar"
									data:objeto="${transferenciaEfectivo.id}">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(transferenciaEfectivos)}">
							<td colspan="6">No se encontraron Transferencias</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>



</section>
<th:block layout:fragment="javascript-extra">

</th:block>

</html>