<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
		tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:fragment="modalfoto">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel"></h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	       <img alt="foto"  class="tam-foto-modal"></img>
              	 					 
                	 				 
	      </div>
	      
	    </div>
	  </div>
	</div>	
</body>
</html>