<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	<body>
		<div class="modal fade" id="modal-cargar-cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Cargar nuevo cliente</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		       	<form th:action="@{/clientes}" th:method="POST">
					<div class="alert alert-danger alert-dismissible fade noMostrar box-ms-error-modal-cliente" role="alert" >
                    	<div class="ms-error-modal-cliente" >
                     			
			    		</div>
                 	</div>
					<div class="row">
	            		<div class="col-sm-12 col-md-12 col-xl-12">
	            			<div class="row">
		            					                   		
		                   		<div class=" mb-3 col-sm-12 col-xl-12 col-md-12">
		                            <label for="nombre-cliente-modal" class="col-sm-2 col-form-label">Nombre</label>
		                            <div class="col-sm-10">
		                                <input type="text" class="form-control" id="nombre-cliente-modal"  autofocus="autofocus"
		                                autocomplete="off">
		                            </div>
		                        </div>
		                       
		                    	<div class="mb-3 col-sm-6 col-md-4 ">
		                            <label for="inputPassword3" class="col-form-label">Documento</label>
		                            <div class="col-md-12 col-sm-12">
		                                <input type="text" class="form-control" id="documento-cliente-modal"  autocomplete="off">
		                            </div>
		                        </div>
		                        <div class="mb-3 col-sm-6 col-md-4 ">
		                            <label for="telefono" class="col-form-label">Telefono</label>
		                            <div class="col-md-12 col-sm-12">
		                                <input type="text" class="form-control" id="telefono-cliente-modal"  
		                                	autocomplete="off">
		                            </div>
		                        </div>
		                        <div class=" mb-3 col-sm-12 col-md-4 ">
								<label for="precio-modal-carga" class="col-sm-12 col-form-label">Precio</label>
								<select id="precio-modal-carga" class="form-control "   >
									<option value="">seleccionar</option>
									<option th:each="precio : ${precios}"
										th:text="${precio.nombre}" th:value="${precio.id}"
										data:moneda="${precio.moneda.id}"
										></option>
								</select>
							</div>
	            			</div>
	            		</div>
	            		
					</div>
            </form>
		      </div>
		      <div class="modal-footer">
		      <button type="button" class="btn btn-primary btn-guardar-modal-cliente" >Guardar</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		        
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>