<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Buscar Planilla</title>
</head>
<section layout:fragment="contenido" >
<div class="container-fluid pt-4 px-4">
         <div class="bg-light rounded h-100 p-4">
        	 <div class="row" >  		 
                   <a th:href="@{/planillas/cierre}" class="col-md-3 mb-6">
	                    <button type="button" class="btn btn-nuevo btn-success">Ir a Cierre</button>
                    </a>
              </div>
              <br>
             <h3 class="mb-4">Listado de Planillas</h3>
            
             
             <div class="table-responsive">
                 <table class="table">
                     <thead>
                         <tr>
                         <th scope="col">Id</th>
                         <th scope="col">Fecha</th>
                         <th scope="col">Cuenta</th>
                         <th scope="col">Estado</th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         </tr>
                     </thead>
                     <tbody>
                         
                     <tr th:each="planilla:${planillas}" class="linea"  >
                         <td scope="row" th:text="${planilla.id}" ></td>
                         <td th:text="${#temporals.format(planilla.fecha,'dd/MM/yyyy')}"></td>
                         <td th:text="${planilla.cuenta.nombre}"></td>
                         <td th:text="${planilla.cerrado}== true? 'Cerrado': 'Abierto'"></td>
                         <td sec:authorize="hasRole('ROLE_FINANCIERO_PLANILLA_MODIFICAR')">
								<a th:href="@{/planillas/cierre/{id}(id=${planilla.id})}"
									 class="btn-editar">
									<i class="fa fa-pencil" title="Modificar"></i>
								</a>
							</td>
						 <td >
								<a href="#" data:id="${planilla.id}" 
									 class="btn-imprimir">
									<i class="fa fa-print" title="Imprimir"></i>
								</a>
							</td>
                         
                     </tr>
                      
                     <tr th:if="${#lists.isEmpty(planillas)}">
						<td colspan="6">No se encontraron datos</td>
					</tr>
                 		
                     </tbody>
                 </table>
             </div>
         </div>
     </div>


<th:block th:replace="venta/modal.item.venta"></th:block>
</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/planilla/planilla.js}" type="module"></script>
</th:block>
</html>
