<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
	<title>Clases Grupales</title>
	 <link th:href="@{/css/easy-autocomplete.min.css}" rel="stylesheet">
	 <link th:href="@{/css/easy-autocomplete.themes.min.css}" rel="stylesheet">
</head>
<section layout:fragment="contenido">
	<div class="container-fluid pt-4 px-4">
		
        <div class="row g-4">
            
            <div class="col-sm-12 col-xl-12 ">
                <div class="bg-light rounded h-100 p-4">
                	
                
	                <form th:action="@{/clasegrupales}" th:method="POST" th:object="${claseGrupal}">
	                	<div class="col-md-12">
	                		<h2>Clases Grupales</h2>
	                		<div class=" row">
		                		<button type="submit" class="btn btn-square btn-primary m-2 btn-guardar col-md-1"
		                			sec:authorize="hasRole('ROLE_FICHAS_CLASES_GRUPALES_GUARDAR')"><i class="fa fa-save"></i>
	                			</button>
		                		<a th:href="@{/clasegrupales/buscar?id=&horaDesde=&horaHasta=&instructor=}" class="btn  btn-square btn-success m-2 col-md-1">
		                			<i class="fa fa-search btn-buscar"></i>
	                			</a>
		                		<a th:href="@{/clasegrupales}" class="btn btn-square btn-primary m-2 col-md-1">
		                			<i class="fa fa-desktop btn-nuevo"></i>
	                			</a>
	                		</div>
	                		
	                	</div>
	                	<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasAnyErrors()}">
                      		<div th:each="erro: ${#fields.detailedErrors()}">
                      			<i class="fa fa-exclamation-circle me-2"></i>
				    			<span th:text="${erro.message}">Mensaje de error</span>
				    		</div>
                        	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                   		 </div>
			    		<div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                       		<i class="fa fa-exclamation-circle me-2"></i>
                       			<span th:text="${mensaje}">Mensaje de exito</span>
                       		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                   		 </div>
	                	<input type= "hidden" id="uuid" th:field="*{uuid}">
	                	<input type="hidden"  id="id" th:field="*{id}">
	                	<div class= "row">
	                		<div class=" row mb-3 col-sm-12 col-lg-4 col-md-4">
	                            <label for="nombre" class="col-sm-12 col-form-label">Nombre</label>
	                            <div class="col-sm-10">
	                                <input type="text"  id="nombre" class="form-control" autocomplete="off" 
	                                	placeholder="Nombre de la clase" autofocus="autofocus" th:field="*{nombre}">
	                            </div>
	                        </div>
	                        
	                        
	                        <div class=" mb-3 col-sm-12 col-lg-2 col-md-3">
	                            <label for="fecha" class="col-sm-12 col-form-label">Fecha</label>
	                            <div class="col-sm-10">
	                            	
	                                <input type="text" class="form-control date" id="fecha"  
	                                		autocomplete="off" placeholder="dd/mm/aaaa" th:field="*{{fecha}}">
	                            </div>
	                        </div>
	                        <div class=" mb-3 col-sm-12 col-md-3 col-lg-2">
                                <label for="instructor" class="col-sm-12 col-form-label">Instructor</label>
								<select id="instructor" class="form-control" th:field="*{instructor}">
									<option value="">Seleccionar</option>
									<option th:each="instructor : ${instructores}" th:text="${instructor.nombre}" 
										th:value="${instructor.id}" ></option>
								</select>
                            </div>
                            <div class="mb-3 col-lg-2" >
                                 <label for="horaDesde" class="col-form-label">Hora Inicial</label>
                                 <div class="col-md-12">
                                 	<input type="text" class="form-control time" id="horaDesde" autocomplete="off"
                                 		th:field="*{horaDesde}" placeholder="HH:mm">
                                 </div>
                             </div>
                               <div class="mb-3 col-lg-2" >
                                  <label for="horaHasta" class="col-form-label">Hora Final</label>
                                  <div class="col-md-12">
                                  	<input type="text" class="form-control time" id="horaHasta" autocomplete="off" 
                                  		th:field="*{horaHasta}" placeholder="HH:mm">
                                  </div>
                           	   </div>
	                	</div>
	                	<div class="row">
	                		<div class="row">
                            	<div class="row mb-3 col-md-6">
                               		<label for="cliente" class ="form-label">Cliente</label>
                               		<input type="hidden" id="idCliente"> 
                               		<div class="col-md-12">
                               			<input type="text" id="cliente" class="form-control js-cliente"  
                               				placeholder="Buscar por nombre o documento">
                               		</div>
                               	</div>
                               	
                            </div>
	                       
	                	</div>
	           				
	                	<div class="">
	                		<div class="table-responsive">
				                 <table class="table">
				                     <thead>
				                         <tr>
				                         <th scope="col" >Cliente</th>
				                         <th scope="col"></th>
				                         </tr>
				                     </thead>
				                    <tbody class="js-item-clase-grupal">
				                    	 <th:block th:replace="claseGrupal/itemClaseGrupal"></th:block> 
        		                    </tbody>
				                 </table>
             				</div>
	                	</div>
	                </form>
	                
	                 
                </div>
            </div>                                                         
        </div>
    </div>
	
	
</section>

<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/js/meta/claseGrupal/auto.complete.cliente.clase.gupal.js}"></script>
	<script th:src="@{/js/meta/claseGrupal/clase.grupal.js}"></script>
</th:block>
</html>
