<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Buscar Presupuesto de Venta</title>
</head>
<section layout:fragment="contenido" >
	<div class="border-top border-bottom border-secondary border-1  p-4 m-4">
        	 <div class="row" > 
				<div class="col-md-4">
					<h6>Listado de Presupuestos de Ventas</h6>		
				</div> 	
				<div class="col-md-8">
					<a th:href="@{/presupuestoVentas}" class="col-md-3 mb-6">
	                    <button type="button" class="btn btn-nuevo btn-success 	btn-sm"
	                    sec:authorize="hasRole('ROLE_VENTAS_PRESUPUESTO_VENTAS_MODIFICAR')">Nuevo</button>
                   </a>
				</div>	 
              </div>
              <br>
             
            <form  th:object="${presupuestoVentaFilter}">
             	<div class="row">
             		<div class="mb-3 col-md-2">
                   		<label for="registro" class="control-label mediano">Registro</label> 
                   		<input type="text" id="registro" class="form-control form-control-sm  mediano"  
                   					autofocus="autofocus" placeholder="Registro" autocomplete="off"
                   					th:field="*{id}">
                    </div>
             	
	             	<div class="mb-3  col-md-2">
	                		<label for="fechaDesde" class="control-label mediano">Fecha Desde</label> 
							<input type="text" class="form-control form-control-sm mediano date " 
							id="fechaDesde" th:field="*{{fechaDesde}}"
							placeholder="DD/MM/AAAA" autocomplete="off">
									
	            	</div>
	            	<div class="mb-3 col-md-2">
	            		<label for="fechaHasta" class="control-label mediano">Fecha Hasta</label> 
						<input type="text" class="form-control form-control-sm mediano date "
						 id="fechaHasta" th:field="*{{fechaHasta}}" placeholder="DD/MM/AAAA" autocomplete="off">
	            	</div>
            		<div class="mb-3 col-md-2">
                   		<label for="limite" class="control-label mediano">Límite</label> 
                   		<input type="text" id="limite" class="form-control form-control-sm mediano"  
                   					autofocus="autofocus" placeholder="Límite"
                   					th:field="*{limite}">
                    </div>
            	
            	
	            	<div class="mb-2 col-md-12">
	            		<button type="submit" class="btn btn-primary btn-sm">Buscar</button>
	            	</div>
            	 </div>
         	</form>
	</div>
     <div class="table-responsive 	p-3 m-2">
         <table class="table">
             <thead>
                 <tr>
                 <th scope="col">id</th>
                 <th scope="col">Cliente</th>
                 <th scope="col">Deposito</th>
                 <th scope="col">Fecha</th>
                 <th scope="col">Total</th>
                 <th scope="col"></th>
                 <th scope="col"></th>
                 <th scope="col"></th>
                 
                 </tr>
             </thead>
             <tbody>
                 
             <tr th:each="presupuesto:${presupuestos}" class="linea js-tabla-buscar-venta"  >
                 <td scope="row" th:text="${presupuesto.id}" ></td>
                 <td ><a th:href="@{/presupuestoVentas/{id}(id=${presupuesto.id})}" th:text="${presupuesto.cliente.nombre}" ></a> </td>
                 <td th:text="${presupuesto.deposito.nombre}"></td>
                 <td th:text="${#temporals.format(presupuesto.fecha,'dd/MM/yyyy')}"></td>
                 <td th:text="${presupuesto.total}" class="js-venta-total"></td>
                 <td >
					<a href="#" data:id="${presupuesto.id}" 
						 class="btn-imprimir">
						<i class="fa fa-print" title="Imprimir"></i>
					</a>
				</td>
                 <td sec:authorize="hasRole('ROLE_VENTAS_PRESUPUESTO_VENTAS_MODIFICAR')">
						<a th:href="@{/presupuestoVentas/{id}(id=${presupuesto.id})}"
							 class="btn-editar">
							<i class="fa fa-pencil" title="Modificar"></i>
						</a>
					</td>
                 <td sec:authorize="hasRole('ROLE_VENTAS_PRESUPUESTO_VENTAS_ELIMINAR')">
                 	<a data:url="@{/presupuestoVentas/{id}(id=${presupuesto.id})}" class="btn-eliminar"
                 		data:objeto="${presupuesto.cliente.nombre}" >
                     	<i class="fa fa-trash" title="Eliminar"></i>
                	</a>
                 </td>
             </tr>
              
             <tr th:if="${#lists.isEmpty(presupuestos)}">
				<td colspan="6">No se encontraron presupuestos de ventas</td>
			</tr>
         		
             </tbody>
         </table>
     </div>
	
<th:block th:replace="venta/modal.item.venta"></th:block>
</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/presupuestoVenta/buscar.presupuesto.venta.js}" type="module"></script>
	
</th:block>
</html>
