<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	               
     <tr th:each="item,indice : ${items}"  class="js-tabla-item-presupuesto " data:total="${total}">
		<td class="mediano" th:text="${item.producto.codigo}"></td>
		<td class="mediano" th:text="${item.producto.nombre}"></td>
		<td class="mediano">
			<input type="text" th:value="${item.cantidad}" 
				class="input-detalle item-nc-venta-cantidad formato-numero"  
				data:id="${item.producto.id}" data:pesable =${item.producto.pesable}>
		</td>
		<td th:text="${item.precio}" class="item-nc-venta-precio mediano"></td>
		<td th:text="${item.subTotal}" class="item-nc-venta-sub-total mediano"></td>
		<td class="mediano">
				<button type="button" class="btn-item-quitar" data:id="${item.producto.id}"
						data:indice="${indice.index}">
					<i class="fa fa-times" aria-hidden="true" ></i>	
				</button>
			
		</td>
     </tr>
	 <tr th:if="${#lists.isEmpty(items)}">
		<td colspan="6">No hay detalles de presupuesto</td>
	 </tr>
</html>
