<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=" http://www.thymeleaf.org/extras/spring-security5" layout:decorate="~{padron}">

<head>
	<title class="js-titulo"></title>
</head>
<section layout:fragment="contenido">

	<div class="container-fluid pt-4 px-4">
		<div class="row g-4">
			<div class="col-sm-6 col-xl-3" sec:authorize="hasRole('ROLE_INICIO_CLIENTES')">
				<a th:href="@{/clientes/buscar}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-users  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Clientes</p>
							<h6 class="mb-0">[[${cantidadClientes}]]</h6>
						</div>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-xl-3" sec:authorize="hasRole('ROLE_INICIO_GASTOS')">
				<a th:href="@{/gastos/buscar}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-briefcase   fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Gastos</p>
							<!-- <h6 class="mb-0">[[${#numbers.formatInteger(gastoDia,3,'POINT')}]]</h6> -->
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-xl-3" sec:authorize="hasRole('ROLE_INICIO_MOVIMIENTO_CAJA')">
				<a th:href="@{/movimientoCajas}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa-solid fa-sack-dollar   fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Movimientos de Caja</p>

						</div>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-xl-3" sec:authorize="hasRole('ROLE_INICIO_MEMBRESIA')">
				<a th:href="@{/membresias/buscar}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-bar-chart  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Membresias</p>
							<h6 class="mb-0">[[${#numbers.formatInteger(memebreDia,3,'POINT')}]]</h6>
						</div>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-xl-3" sec:authorize="hasRole('ROLE_INICIO_CITAS')">
				<a th:href="@{/agendas}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-calendar  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Citas</p>

						</div>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-xl-3 inicio-ventas" sec:authorize="hasRole('ROLE_INICIO_VENTAS')">
				<a th:href="@{/ventas}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-credit-card-alt  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Ventas</p>

						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-xl-3 inicio-ventas-mobile" sec:authorize="hasRole('ROLE_INICIO_VENTAS_MOBILE')">
				<a th:href="@{/ventaMobiles}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-credit-card-alt  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Ventas mobile</p>

						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-xl-3 inicio-ventas" sec:authorize="hasRole('ROLE_INICIO_COBRO_CLIENTE')">
				<a th:href="@{/cobros}">
					<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
						<i class="fa fa-university  fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">Cobros a clientes</p>

						</div>
					</div>
				</a>
			</div>
		</div>



	</div>

	<!--  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->


</section>

</html>