<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}">
<head>
<title>Depositos</title>
</head>
<section layout:fragment="contenido" >
	
	<div class="container-fluid pt-4 px-4">
                <div class="row g-4 ">
                    
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                        	<div class="row">
                            	<a th:href="@{/depositos/buscar}" class="col-md-3 mb-6">
                            		<button type="button" class="btn btn-buscar btn-success">Buscar
                            	</button></a>
                        	</div>
                        	<br>
                            <h6 class="mb-4 col-md-6" th:if="!${deposito.id}" 
                            	sec:authorize="hasRole('ROLE_FICHAS_DEPOSITOS_GUARDAR')" >Cargar Nuevo depósito</h6>
                            <h6 class="mb-4 col-md-6" th:if="${deposito.id}"
                            	sec:authorize="hasRole('ROLE_STOCK_DEPOSITOS_GUARDAR')">Modificar depósito - [[${deposito.nombre}]]</h6>
                            <form th:action="@{/depositos}" th:method="POST" th:object="${deposito}"
                            	sec:authorize="hasRole('ROLE_STOCK_DEPOSITOS_GUARDAR')">
                            	<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${#fields.hasAnyErrors()}">
		                      		<div th:each="erro: ${#fields.detailedErrors()}">
		                      			<i class="fa fa-exclamation-circle me-2"></i>
						    			<span th:text="${erro.message}">Mensaje de error</span>
						    		</div>
		                        	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		                   		</div>
		                   		<div class="alert alert-primary alert-dismissible fade show"
		                   			 role="alert" th:if="${!#strings.isEmpty(mensaje)}">
		                       		<i class="fa fa-exclamation-circle me-2"></i>
		                   			<span th:text="${mensaje}">Mensaje de exito</span>
		                       		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		                   		</div>
                            	<input type="hidden" th:field="*{id}" >
                            	<div class="row">
	                                <div class="mb-3 col-md-5">
	                                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
	                                    <div class="col-sm-12">
	                                        <input type="text" class="form-control" 
	                                        		id="nombre" th:field="*{nombre}" autofocus="autofocus" autocomplete="off">
	                                    </div>
	                                </div>
	                                <div class="row mb-3 col-sm-6 col-md-10 col-xl-8">
		                            
		                            <div class="col-sm-8 col-md-8 col-xl-10">
		                                <div class="form-check">
		                                    <input class="form-check-input" type="checkbox" id="gridCheck1"
		                                    		 th:field="*{stockNegativo}">
		                                    <label class="form-check-label" for="gridCheck1">
		                                        Stock Negativo
		                                    </label>
		                                </div>
		                            </div>
		                            <div class="col-sm-8 col-md-8 col-xl-10">
		                                <div class="form-check">
		                                    <input class="form-check-input" type="checkbox" id="gridCheck1"
		                                    		 th:field="*{activo}">
		                                    <label class="form-check-label" for="gridCheck1">
		                                        Activo
		                                    </label>
		                                </div>
		                            </div>
		                        </div>
	                               
                            	</div>
                               
                                <button type="submit" class="btn btn-primary btn-guardar">Guardar</button>
                                <a th:href="@{/depositos}"><button type="button" class="btn btn-primary btn-nuevo">Nuevo</button></a>
                            </form>
                        </div>
                    </div>                                                         
                </div>
            </div>
	

</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/deposito/deposito.js}"></script>
</th:block>
</html>
