<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec = " http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{padron}"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Inventario</title>
</head>
<section layout:fragment="contenido" >
	<div class="noMostrar js-cargando">
	 <div id="spinner" class="show bg-white position-fixed translate-middle w-100 
	 	vh-100 top-50 start-50 d-flex align-items-center justify-content-center"> 
         <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"> 
             <span class="sr-only">Loading...</span> 
         </div> 
     </div>
	</div> 
<div class="container-fluid pt-4 px-4 contenedor-reporte">
         <div class="bg-light rounded h-100 p-4 ">
        	 
             <h3 class="mb-4 js-titulo-reporte">Inventario</h3>
            <form  class="js-filtros">
             	<div class="row">
             		<div class=" mb-3 col-sm-12 col-md-3 col-xl-3">
                        <label for="deposito" class="col-sm-12 col-form-label">Depósito</label>
						<select id="deposito" class="form-control">
							<option value="">seleccionar</option>
							<option th:each="deposito : ${depositos}" th:text="${deposito.nombre}" 
								th:value="${deposito.id}" ></option>
						</select>
                    </div>
               		<div class=" mb-3 col-sm-12 col-md-3 col-xl-3">
                        <label for="marca" class="col-sm-12 col-form-label">Marca</label>
						<select id="marca" class="form-control">
							<option value="">seleccionar</option>
							<option th:each="marca : ${marcas}" th:text="${marca.nombre}" 
								th:value="${marca.id}" ></option>
						</select>
                    </div>
	         		<div class="row">
		            	<div class="mb-3 col-md-3">
		            		<button type="button" class="btn btn-primary btn-buscar">
		            			<i class="fa-solid fa-magnifying-glass"></i>
		            			Buscar
		            		</button>
		            	</div>
	            	
		            	<div class="mb-3 col-md-3">
		            		<button type="button" class="btn btn-success js-excel-exportar">
		            			<i class="fa-solid fa-file-excel"></i>
		            			Excel
		            		</button>
		            	</div>
		            	<div class="mb-3 col-md-3">
		            		<button type="button" class="btn btn-primary js-imprimir">
		            			<i class="fa-solid fa-print"></i>
		            			Imprimir
		            		</button>
		            	</div>
	         		</div>
            	 </div>
         	</form>
             
             <div class="table-responsive js-tabla">
                 <table class="table tabla-general">
                     <thead>
                         <tr>
                         <th scope="col" class="cursor-tr">Id</th>
                         <th scope="col" class="cursor-tr">Código</th>
                         <th scope="col"  class="cursor-tr">Nombre</th>
                         <th scope="col" class="cursor-tr">Marca</th>
                         <th scope="col" class="lado-derecho cursor-tr">Cantidad</th>
                         <th>Contada</th>
                         </tr>
                     </thead>
                     <tbody class="js-inventario-resul">
	                    
                     </tbody>
                 </table>
             </div>
         </div>
     </div>



</section>
<th:block  layout:fragment="javascript-extra">
	<script th:src="@{/js/meta/reporte/venta/jspdf.debug.js}"></script>
	<script th:src="@{/js/meta/reporte/venta/html2canvas.min.js}"></script>
	<script th:src="@{/js/jquery.table2excel.js}"></script>
	<script th:src="@{/js/meta/reporte/exportacion.impresion.js}"></script>
	<script th:src="@{/js/meta/reporte/stock/inventario.js}"></script>
	<script th:src="@{/js/meta/reporte/ordenar.js}"></script>
</th:block>
</html>
